*, :before, :after {box-sizing:border-box;}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');
html,
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3{
    font-family: 'Intro'
}

/* nav */
img {
    max-width:100%;
}
nav {
    display : flex;
    justify-content:space-between;
    padding: 1em;
    background : white;
    width: 100%;
}

.menuImg {
    display: flex;
}

.menuImg img {
    height: 1.1em;
    margin-left : 0.5em
}

.masthead h1 img  {
    width : 6em;
    
}
.masthead h1{
    margin-top: 0;
    margin-bottom: 0.2em;
}

.masthead p {
    margin-top : 0;
    font-size : 0.7em;

}

/* partie avec le dégradé vert et jaune, + form */
.imgFromPlaceholder{
    width: 100vw;
    height: 25em;
    
}
.searchMenu{
  background: linear-gradient(#C0DA38 60%,#74CC52);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}



.searchMenu h2{
 color: white;
 font-size: 2.2em;
 margin-top: 1em;
 font-size: bolder;
 margin-right: auto;
 margin-left: auto;
 width: 78vw;
}

.searchMenu form{
    display: flex;
    flex-direction: column;
}
.searchMenu label {
   padding :1.5em 11vw;
   background: white; 
}

.field1{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom : 1px solid rgb(236, 233, 233);
}

.field2{
    border-top : 1px solid rgb(236, 233, 233);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#loc{
    font-size: 1.1em;
    border: none;
    background-image: url('/images/pin.svg');
    background-size : contain;
    background-repeat: no-repeat;
    text-indent : 2.8em;
}

#bbq{
    font-size: 1.1em;
    border: none;
    background-image: url('/images/bbq.svg');
    background-size : contain;
    background-repeat: no-repeat;
    text-indent : 2.8em;
}

.find {
    font-family: 'Intro';
    margin-top: 1em;
    background-color: #fa7344 ;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 1em 2em;
    font-size:1.3em;
    font-weight: bolder;
}

/* how it works */

.how h2, .dishes h2{
    text-align: center;
    color:  #fa7344;
    font-weight: bolder;
    font-size: 2em;
    margin-top: 2em;
    padding: 0 1em
}

.box {
    display: flex; 
    justify-content: space-around;
    margin: 1.5em;
}

.box img{
    object-fit: contain;
    width: 5em;
    margin-right: 2em;
    
}
.box p{
    font-size: 0.8em
}

.box h3{
    font-size : 1.5em
}

.box span{
    font-weight: lighter;
}

/* tout ce qui concerne les parties avec photo, restau et étoiles */
.dishes{
    background-color: #F4F4EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5em;
}

.imgDishes{
    width: 100%;
    height:12em;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-bottom: 1.1em;
}

.dishes article{
    background-color: white;
    border-radius : 6px;
    margin-bottom: 2em
    
}

.boxDishes {
    margin-top: 1.2em;   
    width: 90%; 
    
}

.dishes h4{
    margin: 0 ;
    padding-left: 1.1em
}

.dishes p {
    padding-left: 1.2em;
    padding-bottom: 1.2em;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.price{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
}

.price button{
    background-color:#5FB038 ;
    border: none;
    border-radius: 6px;
    padding: 0.8em 1.5em;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

.rating{
    border-top : 1px solid  #F4F4EC;
    display: flex;
    padding: 1.5em;
    font-size: 0.8em;
}

.rating span{
    margin-left : 3em
}

/* partie dégradée rose  */
aside{
    background:linear-gradient(#EB7144, #E74051 );
    padding-bottom: 1em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em
}

.boxAside div{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 100%;
    width: 6em;
    padding: 1.5em;
}

.boxAside{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em 1.2em
}

.boxAside h3{
    font-size: 1.5em;
}

.boxAside p{
    font-size: 0.8em;
}

/* bannière */
.banner{
    color:white;
    background-color: black;
    font-size: 2em;
    font-weight: 900;
    padding: 3.3em 1em;
    text-align: center;
    border-radius: 6px;
    font-family: 'Intro'
}


/* banière 50% de reduction */
.sales{
    position: relative;
}
.sale{
    display: flex;
    justify-content:center;
    color: white;
    position: absolute;
    top: 1.2em;
    left: -2.1em;
    transform: rotate(-45deg);
    font-size: 0.9em;
    font-weight: bold;
    border-bottom: 1.8em solid #fa7344;
    border-left  : 1.8em solid transparent; 
    border-right : 1.8em solid transparent;
    height : 1.5em;
    width  : 8.3em;
}
.sale p{
    padding: 0;
}

.effect1 {
    position: absolute;
    width  : 0em;
    height : 0em;
    border : 0.2em solid transparent;
    border-bottom : 0.2em solid #ee3d02;
    top : -0.4em;
    left: 4.8em;
}
.effect2{
    position: absolute;
    width  : 0em;
    height : 0em;
    border : 0.2em solid transparent;
    border-bottom : 0.3em solid #ee3d02;
    top : 4.75em;
    left: -0.4em;
    transform: rotate(-90deg);
}

/* footer */

.contacts{
    padding : 2em 2em 0em 2em
}

.contacts article{
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.contacts h3{
    font-weight: bold;
}

.contacts a{
    text-decoration: none;
    color : #8a8888;
    padding-top: 1em
    
}

/* adress */
.copy{
    font-style:normal;
    background-color: #F4F4EC;
    padding : 1em;
    font-size: 0.8em
}

.copy a{
    text-decoration: none;
    color: black;
    margin-right : 1.5em;
}
.copy p a{
    color: #9fd67a;
    margin-right : 0
}